.root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-logo {
    display: flex;
    justify-content: space-around;
}

.logo-box {
    display: flex;
    justify-content: space-around;
    width: 17%;
    background-color: rgb(209, 205, 205);
}

.content {
    display: flex;
    justify-content: space-around;
}

.content-wrapper {
    width: 800px;
    /* background-color: rgb(209, 205, 205); */
    /* border: 1px solid rgb(117, 113, 113); */
}

#login-as {
    height: 50px;
    font-weight: normal;
    width: 42.5%;
    padding: 10px;
}

@media(max-width:600px) {
    .content-box {
        flex-direction: column;
    }
    #login-as {
        width: 90%;
        margin: auto;
    }
}

.seeker {
    margin-left: 5%;
    margin-right: 5%;
}

.employer {
    margin-right: 5%;
}

@media(max-width:600px) {
    .employer {
        margin-top: 48px !important;
    }
}

.login-form {
    width: 90% !important;
    margin: auto;
}

#login-button {
    width: 20%;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid rgb(73, 72, 72);
}